#App {
  width: 100%;
}
.primary-btn {
  display: inline-block;
  margin: 50px auto;
  padding: 12px 0;
  min-width: 60%;
  height: 40px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  background-color: $secondary;
}
@media (min-width: 750px) {
  .primary-btn {
    display: unset;
    height: 50px;
    min-width: unset;
    width: 150px;
    padding: 17px 20px;
  }
}
#header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  max-height: 100px;
  background: $primary;
  color: white;
  @include flex(column, flex-start, center);
}
#landing-page {
  margin: 0 0 125px;
  margin-top: 95px;
  max-width: 100%;
  max-height: 225px;
  border: 1px solid #000;
}
@media (min-width: 750px) {
  #landing-page {
    height: 70vh;
    margin-bottom: 0;
  }
}
#booking {
  background-color: #fff;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 0 35px;
  text-align: center;
}
@media (min-width: 750px) {
  #booking {
    position: relative;
    top: -180px;
    z-index: 1;
    margin: 0 30px;
    padding: 15px 0;
  }
}
#gallery {
  height: 500px;
  max-width: 100%;
  background-color: $primary;
  color: white;
  padding: 50px 10px;
  text-align: center;
}
@media (min-width: 750px) {
  #gallery {
    height: 300px;
    position: relative;
    top: -80px;
    margin: 0 50px;
    padding: 0;
    text-align: right;
  }
}
#description {
  max-width: 100%;
}

#testimonial {
  width: 100%;
  margin: 60px 0;
  text-align: center;
}
#footer {
  width: 100%;
  background-color: $footer;
  color: #fff;
  padding: 40px 50px;
  text-align: center;
}
