.header {
  .logo {
    margin-top: 16px;
    height: 100%;
    min-width: 225px;
    max-width: 300px;
  }
  .nav {
    border-top: 1px solid #23ad8d;
    z-index: 10;
    background-color: $primary;
    width: 100%;
    margin-top: -10px;
    transition: $transition;
    transform: scale(1, 0);
    transform-origin: top;
    &--active {
      transform: scale(1);
    }
    &__list {
      transition: $transition 300ms;
      transform: scale(1, 0);
      opacity: 0;
      transform-origin: top;
      margin: 20px 40px 15px;
      align-self: flex-start;
      &--active {
        opacity: 1;
        transform: scale(1);
      }
    }
    &__link {
      font-size: 14px;
      margin-bottom: 10px;
      display: inline-block;
      color: white;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .hamburger {
    cursor: pointer;
    height: 25px;
    position: relative;
    bottom: 20px;
    left: 86%;
    &__line {
      transition: $transition;
      background-color: #fff;
      width: 25px;
      height: 2px;
      margin-bottom: 6px;
    }
    &--active {
      .hamburger__line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      .hamburger__line:nth-child(2) {
        transform: scale(0);
      }
      .hamburger__line:nth-child(3) {
        transform: rotate(45deg) translate(-4px, -7px);
      }
    }
  }
}
.fixed {
  position: fixed;
  top: 0;
}
@media (min-width: 750px) {
  .header {
    .logo {
      height: 45px;
      width: 400px;
      margin: auto;
    }
    .nav {
      border: none;
      margin: 5px 0;
      transform: none;
      &__list {
        display: block;
        transform: none;
        transition: none;
        opacity: 1;
        margin: 0;
        width: 100%;
        margin-top: 10px;
        @include flex(row, space-evenly, center);
      }
      &__link {
        display: inline-block;
        font-size: 16px;
        margin: 10px 0 18px;
        color: white;
      }
    }
    .hamburger {
      display: none;
    }
  }
}
