.top {
  &__phone {
    @include flex(row, center, center);
    margin-left: 15px;
  }
  .phone1,
  .phone2 {
    padding: 0px 10px;
    @include flex(row, center, center);
    i {
      color: $primary;
    }
  }
  &__parg {
    font-size: 12px;
  }

  &__list {
    padding: 0 10px;
    @include flex(row, center, center);
  }
  &__link {
    color: $primary;
    margin: 0 10px;
  }
}
.header {
  .logo {
    margin-top: 15px;
    height: 100%;
    width: 275px;
  }
  .nav {
    z-index: 10;
    background-color: $primary;
    width: 100%;
    margin-top: -10px;
    transition: $transition;
    transform: scale(1, 0);
    transform-origin: top;
    &--active {
      transform: scale(1);
    }
    &__list {
      transition: $transition 300ms;
      transform: scale(1, 0);
      opacity: 0;
      transform-origin: top;
      margin: 30px 50px 15px;
      align-self: flex-start;
      &--active {
        opacity: 1;
        transform: scale(1);
      }
    }
    &__link {
      font-size: 20px;
      margin-bottom: 10px;
      display: inline-block;
      color: white;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .hamburger {
    cursor: pointer;
    height: 25px;
    position: relative;
    bottom: 25px;
    left: 90%;
    &__line {
      transition: $transition;
      background-color: #fff;
      width: 25px;
      height: 2px;
      margin-bottom: 8px;
    }
    &--active {
      .hamburger__line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 8px);
      }
      .hamburger__line:nth-child(2) {
        transform: scale(0);
      }
      .hamburger__line:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -10px);
      }
    }
  }
}
.fixed {
  position: fixed;
  top: 0;
}
@media (min-width: 750px) {
  .header {
    .logo {
      height: 45px;
      width: auto;
      margin: auto;
    }
    .nav {
      margin: 0;
      transform: none;
      &__header {
        display: none;
      }
      &__list {
        transform: none;
        transition: none;
        opacity: 1;
        margin: 0;
        display: block;
        width: 100%;
        margin-top: 10px;
        @include flex(row, space-evenly, center);
      }
      &__link {
        display: inline-block;
        font-size: 16px;
        margin-bottom: 20px;
        color: white;
      }
    }
    .hamburger {
      display: none;
    }
  }
}
.landing-page {
  &__img-container {
    position: relative;
    z-index: -1;
    background-image: linear-gradient(to bottom right, #fff, $primary);
    max-height: 70vh;
  }

  &__img {
    display: none;

    &--active {
      display: block;
      width: 100%;
      object-fit: cover;
      height: 225px;
      z-index: -1;
      opacity: 0.7;
      animation-name: fade;
      animation-duration: 1s;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 0.7;
    }
  }
  &__icon {
    @include flex(row, space-between, center);
    padding: 0 40px;
    position: relative;
    bottom: 150px;
    color: $secondary;
    .left,
    .right {
      cursor: pointer;
      width: 20px;
      padding: 10px;
    }
  }
}
@media (min-width: 750px) {
  .landing-page {
    &__img {
      position: relative;
      top: 0;
      width: 100%;
      object-fit: cover;
      height: 70vh;
    }
    &__icon {
      bottom: 250px;
    }
  }
}
.booking {
  &__header {
    color: $primary;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 40px;
  }
  &__check {
    @include flex(row, space-between, center);
    margin: 50px 0;
  }
  &__select {
    @include flex(row, flex-start, center);
  }

  &__parg {
    width: 60%;
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
  }
  &__input {
    margin: 0 20px;
    width: 60%;
    border: none;
    border-bottom: 1px solid rgb(163, 163, 163);
  }
  .select {
    border: none;
    border-bottom: 1px solid rgb(163, 163, 163);
    margin-left: 20px;
  }
  &__link {
    margin-top: 70px;
  }
}
@media (min-width: 750px) {
  .booking {
    &__header {
      font-size: 32px;
    }
    &__input-container {
      @include flex(row, space-evenly, flex-start);
    }
    &__check,
    &__select {
      @include flex(column, center, flex-start);
      margin-top: 0;
    }
    &__parg {
      width: 100%;
    }
    &__input,
    .select {
      width: 90%;
      margin: auto;
      margin-top: 20px;
    }
    &__link {
      margin: 0;
    }
  }
}
.gallery {
  &__header {
    text-align: left;
    margin: 15px 40px;
    text-transform: uppercase;
    font-size: 22px;
  }
  &__parg {
    margin: 50px 40px 10px;
    text-align: left;
    text-transform: capitalize;
    font-size: 14px;
  }
  &__slider {
    margin: 15px 40px 0;
    text-align: left;
    color: white;
    font-size: 20px;
    .fas {
      cursor: pointer;
      margin: 0 5px;
    }
  }
  &__img {
    position: relative;
    margin-top: -20px;
    @include flex(row, center, center);
    max-width: 100%;
    height: 150px;
    * {
      width: 50%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__link {
    position: relative;
    top: 200px;
  }
}
@media (min-width: 750px) {
  .gallery {
    @include flex(row-reverse, center, center);

    &__section1 {
      min-width: 45%;
      max-height: 100%;
      padding: 10px;
    }
    &__section2 {
      height: 100%;
    }
    &__parg {
      font-size: 16px;
      margin-bottom: 30px;
    }
    &__img {
      object-fit: cover;
      height: 100%;
      margin: 0;
      :first-child {
        width: 60%;
      }
    }

    &__link {
      display: inline-block;
      position: relative;
      margin-top: -20px;
      padding: 15px 30px;
      top: -15px;
      right: 40px;
    }
  }
}
.description {
  &__menu {
    width: 100%;
    height: 55px;
    background-color: $primary;
  }
  &__list {
    @include flex(row, space-evenly, center);
    height: 100%;
  }
  &__link {
    text-align: center;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
  }

  &__card {
    display: none;
    text-align: center;
    margin: 0 30px 100px;
    padding-bottom: 40px;
    background-color: $primary;
    color: #fff;
    &--active {
      display: block;
    }
  }
  &__header {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    margin: 50px 0 0;
    background-color: #fff;
    color: #000000;
    padding-bottom: 30px;
  }
  &__parg {
    text-align: left;
    margin: 50px 35px;
    line-height: 1.6;
    font-size: 12px;
    text-transform: capitalize;
  }
  &__btn {
    padding: 13px;
    margin: 0 auto 30px;
  }
  &__img {
    width: 100%;
  }
}
@media (min-width: 750px) {
  .description {
    &__menu {
      background-color: #fff;
    }
    &__link {
      text-align: center;
      font-size: 20px;
      color: #000;
      text-transform: capitalize;
      &--active {
        font-weight: 700;
        color: $primary;
        font-size: 24px;
      }
    }
    &__card {
      height: 300px;
      margin: 30px auto 0;
      max-width: 100%;
      text-align: right;
      display: none;
      &--active {
        width: 100%;
        @include flex(column, flex-start, center);
        flex-wrap: wrap;
      }
    }
    &__text-container {
      padding: 70px 50px 0;
      min-height: 300px;
      width: 60%;
    }
    &__header {
      position: relative;
      right: 55%;
      bottom: 20px;
      order: 2;
      max-width: 300px;
      text-align: left;
      color: #fff;
      background-color: unset;
    }
    &__parg {
      font-size: 16px;
      margin: 30px 20px 7px 0;
    }
    &__img {
      height: 116%;
      width: 40%;
      object-fit: cover;
      justify-self: flex-start;
    }
    &__btn {
      display: inline-block;
      padding: 15px 30px;
      margin: 10px 30px;
    }
  }
}
.testimonial {
  &__header {
    font-size: 28px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 50px;
  }
  &__card {
    padding: 20px 25px;
    width: 65%;
    margin: 30px auto;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
  }
  &__parg {
    margin-bottom: 20px;
    text-align: left;
    font-size: 12px;
  }
  &__speaker {
    color: $primary;
    font-size: 18px;
    font-family: 700;
    text-align: left;
    text-transform: uppercase;
  }
  &__quote {
    color: $primary;
    font-size: 14px;
    font-weight: 700;
  }
}
@media (min-width: 750px) {
  .testimonial {
    .card-container {
      margin: 0 60px;
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      gap: 35px;
    }
    &__card {
      margin: 0;
      width: 100%;
    }
    &__speaker {
      font-size: 22px;
    }
    &__parg {
      font-size: 14px;
    }
  }
}
.footer {
  &__link {
    display: inline-block;
    color: #fff;
    margin: 15px 0;
    font-size: 25px;
  }
  &__copyright {
    margin: 20px 0;
  }
}
@media (min-width: 750px) {
  .footer {
    .social {
      width: 50%;
      margin: 20px auto 60px;
    }
    &__list {
      @include flex(row, space-around, center);
    }
  }
}
