.top {
  &__phone {
    @include flex(row, center, center);
    margin-left: 15px;
  }
  .phone1,
  .phone2 {
    margin-left: 5px;
    font-size: 0.7rem;
    @include flex(row, center, center);
    i {
      color: $primary;
    }
  }
  &__call {
    margin-left: 5px;
    font-size: 0.7rem;
  }

  &__list {
    padding: 0 10px;
    @include flex(row, center, center);
  }
  &__link {
    color: $primary;
    margin: 0 7px;
    .fab {
      font-size: 12px;
    }
    :hover {
      color: $secondary;
    }
  }
}
@media (min-width: 750px) {
  .top {
    &__phone {
      margin-left: 25px;
    }
    .phone1,
    .phone2 {
      font-size: 0.9rem;
      padding: 0 30px;
    }
    &__call {
      margin-left: 10px;
      font-size: 0.9rem;
    }
    &__list {
      margin-right: 25px;
    }
    &__link {
      margin: 0 16px;
      .fab {
        font-size: 16px;
      }
    }
  }
}
